@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --max-width: 1200px;
    --border-radius: 10px;
}

.html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #363636;
    font-size: 24px;
}

h1 {
    color: #019875;
    font-weight: bold;
}

.subtitle {
    color: #EB6A0A;
    font-weight: bold;
    font-size: 42px;
}