@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --max-width: 1200px;
    --max-width-big: 1800px;
    --max-width-small: 1000px;
    --border-radius: 10px;
}

.html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #363636;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

.sb-richtext {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sb-richtext ul {
    list-style-type: disc;
    padding-left: 1rem;
}

.sb-richtext ol {
    list-style-type: decimal;
    padding-left: 1rem;
}