@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --max-width: 1200px;
    --border-radius: 10px;
}

.html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #363636;
    font-size: 18px;
}

@media screen and (max-width: 1535px) {

    .subtitle {
        font-size: 32px;
    }
    
}